*{
    padding: 0px;
    margin: 0px;
    font-size: 14px;
    box-sizing: border-box;
}



body {
   display: grid;
   grid-template-areas:
   "header"
   "content"
   "footer";
   height: 1500px;
   grid-template-rows: 100px 1fr 300px;
}
div {
    background-color: lightgray;
    border: thin solid black;
}
#header {
    grid-area: header;
    display: flex;
    background: url(images/logo.png) no-repeat 45vw center white;
    background-size: 9%; 
    position: sticky;
    top: 0;
    z-index: 99;
    align-items: flex-center;
    justify-content: space-between;
    padding: 3em 10%;
    border: none;
   
}
#header > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    margin-right: 3vw;
    margin-left: 0.1vw;
}


#header > ul li {
    margin: 0.1em;
    font-size: 12px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0.25rem;
}

a {
    text-decoration: none;
    color:grey;
}

#header a:hover{
    color: indigo;
}
#header > ol {
   
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-right: 2vw;
    margin-left: 3pw;
    font-size: 12px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#content {
    grid-area: content; 
    display: grid;
    grid-template-rows: 4fr 8fr;
}


.article {
    display: grid;
    grid-template:
    "side content content" 2fr
    "side content content" 4fr
    / 0.5fr 1fr 1fr;
    grid-gap: 1rem;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
}

.article > div {
    border: none;
    background-color: whitesmoke;
}


#footer {
    grid-area: footer;
    display: grid;
    grid-template:
    "footer footer footer" 2fr
    "cr cr cr" 1fr
    /1fr 1fr 1fr;
}
/* .footerBox{
    grid-area: footer;
} */

.copyRightBox {
    grid-area: cr ;
    text-align: center;
}  

.article > div:nth-child(1) {
    grid-row: 1 /span 2;
    display: flex;
    flex: 3;
    justify-self: stretch;
    flex-flow: column;
}
.article > div:nth-child(2){
    grid-column: 2 /span 2;
    display: flex;
    align-items: center;
}

.intro{
    display: flex;
    flex-direction: row;
    position: relative;
    border: none;
}
.introKapsayici {
    flex: 0 0 30%;
    border: none;
    margin-left: 5vw;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    
}
.intro:before{
    content: ' ';
    background: url(images/lavender.jpg) no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.introKapsayici h5{
    display: block;
    background-color: rebeccapurple;
    width: 9rem;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: whitesmoke;
    
}
.introKapsayici h5:hover{
    color: thistle;
    
}
 .introKapsayici h3{
    font-family: 'Hind', sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: slateblue;
    
 }

 .introKapsayici p{
     color: black;
     font-family: 'Hind', sans-serif;
     font-size: 1.2rem;
 }

 .introKapsayici a.btn {
     display: block;
     width: 6rem;
     background: thistle;
     text-align: center;
     color: black;
     text-decoration: dashed;
     opacity: 0.5;
     font-family: 'Quicksand', sans-serif;
     font-size: .75rem;
     padding: 0.25rem;
     margin-top: 0.5rem;
     
     
 }

 .article .contentBox h5 {
    display: block;
    background-color: rebeccapurple;
    width: 9rem;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: whitesmoke;
    opacity: 0.5;
    text-align: center;
    margin: 1rem;
 }

 .article ul {
    text-decoration: none;
    list-style-type: none;
    border: none;
    margin: 1rem;
    padding-top: 1em;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 45px;
    display: flex;
    flex-direction: column;
    
    
 }
 
 .article a{
     font-size: 1rem;
     padding-top: 30px;
     display: block;
     
     
 }

 .article .contentBox .menuBoxKapsayici {
     border: none;
     background: none;
 }
 
 .article .contentBox img{
     height: 250px;
     margin: 1rem;
 }
 

 .article .contentBox .blogBoxKapsayici{
     border: none;
     background: none;
 }

 .article a.btn {
    display: block;
    width: 6rem;
    background: thistle;
    text-align: center;
    color: black;
    text-decoration: dashed;
    opacity: 0.5;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    padding: 0.25rem;
    margin-top: 0.5rem;
    align-self: center;
    margin: 1rem;
 }

 .article .contentBox h3{
     font-size: 1.5rem;
     font-family: 'Hind', sans-serif;
     margin: 1rem 1rem;
 }
 .article .contentBox p{
     font-size: 1.2rem;
     font-family: 'Hind', sans-serif;
     margin-left: 1rem;
     
 }
 p.introduction:first-letter {
	font-size: 2rem;
}
.article .contentBox3 {
    display: flex;
    flex-direction: column;
}
.article .contentBox3 .hisBoxKapsayici {
    background: none;
    border: none;
}
.article .contentBox3 img{
    height: 250px;
    margin: 1rem;
}
.article .contentBox3 h5{
    display: block;
    background-color: rebeccapurple;
    width: 9rem;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: whitesmoke;
    opacity: 0.5;
    text-align: center;
    margin-left: 9rem;
    

}

.article .contentBox3 h3{
    font-size: 1.5rem;
    font-family: 'Hind', sans-serif;
    margin: 1rem 1rem;
    align-content: center;
    margin-left: 5rem;
    margin-top: 2rem;
 }

 .article .contentBox3 p{
    font-size: 1.2rem;
    font-family: 'Hind', sans-serif;
    margin-left: 1rem;
    
 }
.article .contentBox3 a.btn {
    display: block;
    width: 6rem;
    background: thistle;
    text-align: center;
    color: black;
    text-decoration: dashed;
    opacity: 0.5;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    padding: 0.25rem;
    margin-bottom: 2rem;
    margin-left : 10rem;
}

.article .contentBox4 img{
    height: 250px;
    margin: 1rem;
    width: 375px;

}
.article .contentBox4 {
    background-color: white;
    border: none;
}

.article .contentBox4 .psBoxKapsayici {
    background: none;
    border: none;
    display:flex;
    flex-direction: column;
}

.article .contentBox4 h5{
    display: block;
    background-color: rebeccapurple;
    width: 9rem;
    padding: 0.5rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    color: whitesmoke;
    opacity: 0.5;
    text-align: center;
    margin-left: 9rem;
}

.article .contentBox4 a.btn {
    display: block;
    width: 6rem;
    background: thistle;
    text-align: center;
    color: black;
    text-decoration: dashed;
    opacity: 0.5;
    font-family: 'Quicksand', sans-serif;
    font-size: .75rem;
    padding: 0.25rem;
    margin-bottom: 2rem;
    
    
}


#footer {
    background: url(images/logomobile.png) no-repeat 45vw center white;
    border: none;
    background-size: 15%; 
    position: sticky;
    align-items: flex-center;
    margin-bottom: 7rem;
    border: none;
}

.copyRightBox{
    background-color: white;
    border: none;
    margin-left: 5vw;
    align-items: center;
    padding-top: 3rem;
    font-size: 0.75rem;

}


    

    
    
    




